@import '~rsuite/dist/styles/rsuite-default.css';

body {
  margin: 0;
  font-family: 'Pathway Gothic One', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
